

---
<img src="https://drive.google.com/uc?export=view&id=1JCDDTcxG2ez_sXTKSulwpZbgQPud9yba" height=320 width = 410>

---

# **INTRODUCCIÓN A PYTHON - PARTE II**

---
![texto alternativo](https://drive.google.com/uc?export=view&id=1bLXz7152P45Ki7ZolHVj02urqVM7N3bL)

# **1. Condicionales IF-ELIF-ELSE**
La sentencia **if** es una estructura de control que permite evaluar una condición, de ser verdadera se realiza una acción, caso contrario se realiza otra. Se tiene diversos ejemplos, supongamos que deseamos verificar si una persona es mayor de edad por lo que pediremos su DNI y determinaremos su edad. Si la persona es mayor de 18 años determinamos que es mayor de edad, caso contrario (menor de 18) la persona es menor de edad.
En Python esto se declara de la siguiente manera:



```
if   (condición 1):
  Realizar acción si la condición1 es verdadera
elif (condición 2):
  Realizar acción si la condición2 es verdadera
else :
  Realizar en caso contrario
```
A continuación veamos un ejemplo

* **El condicional if**

![texto alternativo](https://drive.google.com/uc?export=view&id=19LEFPXjddA6SWEnepAxtbC2ykdk7axn4)


* **La indentación**

![texto alternativo](https://drive.google.com/uc?export=view&id=11keD9QcK5p5MaeIPC9ScDAPQJrlS8yVF)

In [ ]:
#Accesando al servicio de tiempo
lluvia = True
x = 0

if lluvia==True:
  print("Pelicula")
  x = 1
else:
  print("Playa")
  x = 2

print("Saliendo del programa.")
print(3+x)

Pelicula
Saliendo del programa.
4

In [ ]:
edad = 65
# infante, menor de edad, adulto, adulto mayor
if edad <=5:
  print("Infante")
elif edad<18:
  print("menor de edad")
elif edad<60:
  print("Adulto")
else:
  print("Adulto mayor")

Adulto mayor

In [ ]:
#Determinar si una persona es mayor de edad
edad = 10 #Cambiar este valor para que se cumpla la otra condición
if edad >= 18:
  print('Eres MAYOR de edad')
else:
  print('Eres MENOR de edad')

Eres MENOR de edad

In [ ]:
# menor de edad, adulto, adulto mayor (60)
edad = 55
if edad < 18:
  print("Es menor de edad")
elif edad <=60:
  print("Es adulto")
else:
  print("Es adulto mayor")

Es adulto

In [ ]:
temp = 20
alerta = False

if (temp>=60):
  alerta = True

print(alerta)

False

La condición a evaluar implica el uso de operadores de comparación y operadores lógicos:

**Operadores de comparación**

| Operador | Descripción | Ejemplo |
|--|--|--|
| > | Mayor que. Determina si un valor es mayor que el otro | a>b |
|< | Menor que. Determina si un valor es menor que el otro | a< b |
|== | Igual a. Compara si dos cantidades son iguales | a==b |
|>=|Mayor o igual. Determina si una cantidad es mayor o igual a otra|a>=b|
|<=|Menor igual. Determina si una cantidad es menor o igual a otra|a<=b|
|!=|No igual a. Determina si una cantidad es diferente a otra|a!=b|

**Operadores lógicos**

|Operador|Descripción|Ejemplo|
|--|--|--|
|and|And. Devuelve verdadero si ambas condiciones son verdaderas| X and Y|
|or|Or. Basta que uno sea verdadero para devolver verdadero|X or Y|
|not|Not. Realiza la negación de una condición|not X|

Las comparaciones no son exclusivas de los valores numéricos, es posible comparar cadenas de caractéres. Como se ve en el siguiente ejemplo:

In [ ]:
a = 10
b = 20

In [ ]:
a != b

False

In [ ]:
a = b
print(a)

20

In [ ]:
#Ejemplo: comprobar si se tiene la contraseña correcta
clave_correcta = "DSRP"
mi_intento = "Data"

if mi_intento == clave_correcta :
  print('Ingreso permitido')
else:
  print('Error')

Error

In [ ]:
algebra = 18
estadistica = 15

# algebra >= 15  y estadistica >=15
if algebra >= 15 and estadistica >= 15:
  print('Obtiene certificado')
else:
  print("No obtiene certificado")

Obtiene certificado

In [ ]:
# algebra >= 18   y estadistica >=11
# estadistica >= 18 y algebra >=11
# algebra >= 14  y estadistica >=14

algebra = 16
estadistica = 14

if algebra >= 18 and estadistica >=11:
  print('Obtiene certificado')
elif estadistica >= 18 and algebra >=11:
  print('Obtiene certificado')
elif algebra >= 14 and estadistica >=14:
  print('Obtiene certificado')
else:
  print("No obtiene certificado")

Obtiene certificado

In [ ]:
#Declarando variables como booleanas
perro = True
gato = True

if perro==True or gato==True:
  print('No es posible admitirlo')
else:
  print('Si puede alquilar el inmueble.')

In [ ]:
#Declarando variables como booleanas
perro = True
gato = True

if perro == gato == False:
  print('Si puede alquilar el inmueble.')
else:
  print('No es posible admitirlo')

In [ ]:
if perro or gato:
  print('No es posible admitirlo')
else:
  print('Si puede alquilar el inmueble.')

No es posible admitirlo

In [ ]:
edad = 22
if edad<0 :
  print('Edad no válida, no puede ser negativo')
elif edad < 18:
  print('Usted es menor de edad')
else:
  print('Usted es mayor de edad')

Usted es mayor de edad

In [ ]:
senhas = [3456, 34, 56, 45]
sen_usu = int(input("Ingrese la contraseña:"))
resp = sen_usu in senhas
intento = 0

if resp == True:
  print("Ingrese al sistema")
else:
  print("Contraseña incorrecta")
  intento=intento+1

if intento > 0:
  sen_usu = int(input("Ingrese la contraseña:"))
  resp = sen_usu in senhas
  if resp == True:
    print("Ingrese al sistema")
  else:
    print("Contraseña incorrecta")
    intento=intento+1

if(intento==2):
  print("Bloqueado")


# dos intentos y te bloqueamos

Ingrese la contraseña:45
Ingrese al sistema
3

# **2. Bucles en Python**

![texto alternativo](https://drive.google.com/uc?export=view&id=1aiS-YU7Tq2SO9XWB4LKcKazuQJQj0v40)

## **2.1 Bucle FOR**

Permite realizar repetitivamente una orden un número determinado de veces. Esta estructura tiene diversas presentaciones. Se puede declarar como:

```
for i in range(inicial,final):
  realizar acción desde que i tomar el valor inicial hasta el final
```
 Veamos un ejemplo:

---


<img src="https://drive.google.com/uc?export=view&id=1qHkIEbifXATzSoWRuSOz0R1trMhDUHym" height=300>


---

<img src="https://drive.google.com/uc?export=view&id=135hXhXtNQfAZ4FBuiU86sLqiH9Zs1HZ6" height=250>

In [ ]:
for i in range(10): #generar 10 números contando desde cero.
  print(i)

In [ ]:
#             ini, fin+1
for i in range(5,21):
  print(i)

In [ ]:
#            ini fin step
for i in range(5,21,2):
  print(i)

In [ ]:
#imprimir los numeros pares desde el 2 hasta el 24
for i in range(2, 25, 2):
  print(i, end=" ")

2 4 6 8 10 12 14 16 18 20 22 24

In [ ]:
# tres intentos
senhas = [3456, 34, 56, 45]
intento = 0
for i in range(3):
  sen_usu = int(input("Ingrese la contraseña:"))
  resp = sen_usu in senhas
  if resp == True:
    print("Ingrese al sistema")
    break
  else:
    print("Contraseña incorrecta")
    intento = intento + 1

if intento ==3:
  print("Bloqueado")

Ingrese la contraseña:1
Contraseña incorrecta
Ingrese la contraseña:1
Contraseña incorrecta
Ingrese la contraseña:1
Contraseña incorrecta
Bloqueado

In [ ]:
#imprimir los numeros impares desde el 1 hasta el 23

In [ ]:
for i in range(1, 24, 2):
  print(i, end=" ")

1 3 5 7 9 11 13 15 17 19 21 23

In [ ]:
# 2,4,6,8,10
for i in range(2,11,2):
  print(i)

2
4
6
8
10

In [ ]:
# 1,3,6,10
# 1    
# 1 2
# 1 2 3
# 1 2 3 4
suma = 0  #<- variable acumuladora de sumatorias casi siempre inician con cero
for i in range(1,5):
  suma = suma + i
  print(suma)

In [ ]:
# 2 , 4 ,8, 16, 32
# 2^1 = 2
# 2^2 = 2 * 2
# 2^3 = 2 * 2 *2
# 2^4 = 2 * 2 *2 *2
# 2^5 = 2 * 2 *2 *2 *2

for i in range(1, 6):
  pot = 2**i
  print(pot)

pot = 1  # variables acumuladora de productos se inicializan en 1
for i in range(1, 6):
  pot = pot*2
  print(pot)

In [ ]:
# 1, 3, 6, 11
# 1 
# 2 + 1
# 3 + 2 + 1
# 5 + 3 + 2 + 1
# 7 + 5 + 3 + 2 + 1
# SUMA DE LOS 4 primeros PRIMOS
# primo: n es solo divisible entre 1 y n

In [ ]:
lista = ['algebra','geometría','historia','programación']
print(lista[0])
print(lista[1])
print(lista[2])
print(lista[3])

algebra
geometría
historia
programación

In [ ]:
n = len(lista)
for i in range(n): 
  print(lista[i])

algebra
geometría
historia
programación

In [ ]:
for x in lista:
  print(x)

algebra
geometría
historia
programación

In [ ]:
for i, x in enumerate(lista):
  print(f"indice: {i}, x={x}")

indice: 0, x=algebra
indice: 1, x=geometría
indice: 2, x=historia
indice: 3, x=programación

In [ ]:
cursos   = ['algebra','geometría','historia', "Python", "C++"]
alumnos  = ['Javier','Pedro','Luis','Abel']
for curso, alumno in zip(cursos, alumnos):
  print(f"curso: {curso}, alumno:{alumno}")

curso: algebra, alumno:Javier
curso: geometría, alumno:Pedro
curso: historia, alumno:Luis
curso: Python, alumno:Abel

In [ ]:
lista2 = [5,3,8,10]
# sumatoria de la lista
# 26
suma = 0
n = len(lista2)
for i in range(n): 
  suma = suma + lista2[i]
print(suma)

26

La tarea sería mas complicada si la lista tuviese 100 elementos y deberíamos mostrar cada elemento en la pantalla. Para mostrar cada elemento de la lista podemos usar un bucle FOR, a este procedimiento se le conoce como recorrer la lista.

In [ ]:
print("RECORRIDO POR POSICION")
lista = ['algebra','geometría','historia','programación']

for i in range(len(lista)): # i es el contador, si no se declara desde donde inicia, toma 0 por defecto
  print(i,lista[i])

RECORRIDO POR POSICION
0 algebra
1 geometría
2 historia
3 programación

In [ ]:
print("RECORRIDO POR ELEMENTO")
lista = ['algebra','geometría','historia','programación']
for elemento in lista:
  print(elemento)

RECORRIDO POR ELEMENTO
algebra
geometría
historia
programación

In [ ]:
print("RECORRIDO POR ELEMENTO E INDICE")
lista = ['algebra','geometría','historia','programación']
for IDX, elemento in enumerate(lista):
  print(elemento)

RECORRIDO POR ELEMENTO E INDICE
algebra
geometría
historia
programación

In [ ]:
cursos   = ['algebra','geometría','historia','programación',"Estadistica"]
alumnos  = ['Javier','Pedro','Luis','Abel']
for curso, alumno in zip(cursos, alumnos):
  print(f"curso: {curso}, alumno:{alumno}")

curso: algebra, alumno:Javier
curso: geometría, alumno:Pedro
curso: historia, alumno:Luis
curso: programación, alumno:Abel

In [ ]:
print("BUCLES ANIDADOS")
lista = [ [1,2] ,[3,4]] # 2
# recorrido de matrices
for slist in lista:
  for x in slist:
    print(x)

BUCLES ANIDADOS
1
2
3
4

In [ ]:
for i in [0, 1, 2]:
    for j in [0, 1]:
        print(f"i vale {i} y j vale {j}")

i vale 0 y j vale 0
i vale 0 y j vale 1
i vale 1 y j vale 0
i vale 1 y j vale 1
i vale 2 y j vale 0
i vale 2 y j vale 1

## **2.2 Bucle WHILE**

---

<img src="https://drive.google.com/uc?export=view&id=1VBLniwAoaqup-Sa6dc0KtTu-g2EAfONe" height=300>


---

<img src="https://drive.google.com/uc?export=view&id=1ZSM3hHEf6QVTbZ904n0Lx8Y23QhlEAT1" height=300>

Con `while` debemos validar condiciones

In [ ]:
i = 0
while i < 11:
  print(i)
  i = i + 1

In [ ]:
# tres intentos
senhas = [3456, 34, 56, 45]
intento = 0
while intento<3:
  sen_usu = int(input("Ingrese la contraseña:"))
  resp = sen_usu in senhas
  if resp == True:
    print("Ingrese al sistema")
    break
  else:
    print("Contraseña incorrecta")
    intento=intento+1

if intento ==3:
  print("Bloqueado")

Ingrese la contraseña:1
Contraseña incorrecta
Ingrese la contraseña:1
Contraseña incorrecta
Ingrese la contraseña:1
Contraseña incorrecta
Bloqueado

In [ ]:
# leer un número hasta que se digite cero
# no sabemos cuando se digitará cero
n  = int(input("Ingrese número"))
while (n!=0):
  n  = int(input("Ingrese número")) #<-

In [ ]:
opcion = input('¿Desea salir? (Ingrese X)')
i = 0
while opcion.lower() != 'x':
    i = i+1
    print(f'{i}. Agregando una linea')
    opcion = input('¿Desea salir? (Ingrese X)')
    
print ('la letra es X, por eso salgo del bucle')

¿Desea salir? (Ingrese X)r
1. Agregando una linea
¿Desea salir? (Ingrese X)5
2. Agregando una linea
¿Desea salir? (Ingrese X)7
3. Agregando una linea
¿Desea salir? (Ingrese X)x
la letra es X, por eso salgo del bucle

# **3. Funciones**

<img src="https://drive.google.com/uc?export=view&id=1FA6W7WJZ-0HLBb6dV1tWoMuQ4XRIK81x" height=300>

<img src="https://drive.google.com/uc?export=view&id=13aDTxB5id65ycuulh7qVK3_Gp3ZlaYms" height=250>

In [ ]:
def saludar(): #sin parámetro de entrada
  print("Hola a todos")
  #sin parámetro de retorno

In [ ]:
saludar()

Hola a todos

In [ ]:
def saludar2(nombre):  #Con parametro de entrada
  print(f"Hola {nombre}")
  #sin parámetro de retorno

In [ ]:
saludar2("Edwin")

Hola Edwin

In [ ]:
def mostrar_datos(nombre, email):
  print(nombre + " " + email)

mostrar_datos("Luis", "Luis.alva@gmail.com")
mostrar_datos("Jose", "Jose.alva@gmail.com")

Luis Luis.alva@gmail.com
Jose Jose.alva@gmail.com

In [ ]:
def mostrar_nombres(*nombres): #dentro de una lista
  for i in range(len(nombres)):
    print(nombres[i])

In [ ]:
mostrar_nombres("Luis", "Juan", "Pedro", "José")

Luis
Juan
Pedro
José

In [ ]:
def mostrar_nombres2(nombres): #dentro de una lista
  for i in range(len(nombres)):
    print(nombres[i])

In [ ]:
mostrar_nombres2(["Luis", "Juan", "Pedro", "José"])

Luis
Juan
Pedro
José

In [ ]:
def calcular_total(monto, IGV = 0.18):
  total = monto * (1+IGV)
  return total

In [ ]:
t = calcular_total(1500)
print(t)
t = calcular_total(1500, 0.19)
print(t)

1770.0
1785.0

In [ ]:
def mostrar_datos3(**args):  #Trata la entrada como un diccionario
  print("Mi nombre es " + args["nombre"])
  print("Mi Apellido es " + args["apellido"])

mostrar_datos3(nombre = "Luis", apellido = "Alva")

Mi nombre es Luis
Mi Apellido es Alva

las definiciones no pueden estar vacías, pero si por algún motivo tiene una functiondefinición sin contenido, introdúzcala en la passdeclaración para evitar que se produzca un error.

In [ ]:
def myfunction():
  pass
myfunction()

# **4. Lambda**
Una función lambda es una pequeña función anónima.

Una función lambda puede tomar cualquier cantidad de argumentos, pero solo puede tener una expresión.

In [ ]:
y = lambda x : x + 10
print(y(20))

30

In [ ]:
y = lambda x1, x2 : x1 * x2
print(y(5, 6))

30

El poder de lambda se muestra mejor cuando los usa como una función anónima dentro de otra función.

Digamos que tiene una definición de función que toma un argumento, y ese argumento se multiplicará con un número desconocido:

In [ ]:
def calcular(my_func):
  x = int(input("Ingrese numero:"))
  return my_func(x)

In [ ]:
def pot(x):
  return x**2
def sum(x):
  return x+2

In [ ]:
calcular(sum)

Ingrese numero:9

11

In [ ]:
def multiplicar(n):
  y = lambda x : x * (n + 1)
  return y

In [ ]:
res1 = multiplicar(2)
print(res1(11))
print(res1(12))

33
36

In [ ]:
res2 = multiplicar(3)
res2(11)
res2(12)

48

In [ ]:
res1 = multiplicar(2) # n será 2
res2 = multiplicar(3) # n será 2
print(res1(11))
print(res2(11))

33
44

# **5. Fechas**

In [ ]:
import datetime

In [ ]:
x = datetime.datetime.now()
print(x)

2022-09-27 01:39:39.433851

In [ ]:
print(x.year)
print(x.strftime("%A"))

2022
Tuesday

## **Crear una fecha**

In [ ]:
x = datetime.datetime(2020, 5, 17)
print(x)

2020-05-17 00:00:00

## **Formato de fecha**
Se pueden revisar en:

https://www.w3schools.com/python/python_datetime.asp

In [ ]:
x = datetime.datetime(2022, 6, 1)

In [ ]:
print(x.strftime("%B")) # Mostrar el mes
print(x.strftime("%x")) #	Versión local de fecha
print(x.strftime("%X")) # Mostrar la hora
print(x.strftime("%c")) # Mostrar la hora
print(x.strftime("%d")) # Mostrar el día
print(x.strftime("%m")) # Mostrar el mes
print(x.strftime("%Y")) # Mostrar el año

June
06/01/22
00:00:00
Wed Jun  1 00:00:00 2022
01
06
2022

In [ ]:
print(x.strftime("%d-%m-%Y"))

01-06-2022