

---
<img src="https://drive.google.com/uc?export=view&id=1JCDDTcxG2ez_sXTKSulwpZbgQPud9yba" height=320 width = 410>

---

# **INTRODUCCIÓN A PYTHON - PARTE I**

---
<img src="https://drive.google.com/uc?export=view&id=14g3xsBlythXIaCBPDyBF9RjfY8nDlpJ0" height=300 width = 550>

---

---
<img src="https://drive.google.com/uc?export=view&id=1Pz8SNJveaa4lWGPLSkxs2ThegTJ34MWA" height=280 width = 580>

---

# **1. Tipado dinámico**

* El **valor** de las **variables** se cambia de forma directa, y se  pueden hacer conversiones de tipos de datos.
* Las variables en python **no necesitan** ser declaradas. No se necesita indicar el tipo de dato en las asignaciones. Solo se reliza esto, cuando realizamos conversiones de tipos de datos.

**Operadores Aritméticos**

```
----------------------------------------------------------
 Símbolo  Significado     Ejemplo               Resultado
   +       suma              a = 10 + 5         a es 15
   -       resta             a = 12 - 7         a es  5
   -       negaciòn          a = -5             a es -5
   *       multiplicación    a = 7 * 5          a es 35
  **       potencia          a = 2 ** 3         a es  8
   /       división          a = 12.5 / 2       a es  6.25
  //       división enteira  a = 12.5 // 2      a es  6.0
   %       módulo            a = 27 % 4         a es  3
----------------------------------------------------------
```

In [ ]:
print(valor)

Bienvenidos al curso de Python en DSRP

In [ ]:
valor = 10           
print(type(valor))

<class 'int'>

In [ ]:
valor = "Bienvenidos al curso de Python en DSRP"  
print(type(valor))

<class 'str'>

* Por otro lado, Python es un lenguaje de tipado fuerte

In [ ]:
a = 15
b = "15"
print(a + b)

In [ ]:
a = 15
b = "15"
print(a + int(b))

30

In [ ]:
25%3

1

# **2. Tipos de datos básicos**

## **2.1 Numéricos**

In [ ]:
num1 = 15
num2 = 10
print(num1, num2)
print(type(num1))

15 10
<class 'int'>

In [ ]:
num1 = 10

In [ ]:
num1 = num2 = num3 = num4 = 10
print(num1, num2, num3, num4)

10 10 10 10

In [ ]:
num_float = 1.52566885566885555
print(num_float)
print(type(num_float))

1.5256688556688556
<class 'float'>

In [ ]:
print(f" el valor del numero es {num_float:.2f}, el valor del otro numero es {num1}")

 el valor del numero es 1.53, el valor del otro numero es 10

In [ ]:
print("El valor del numero es ", num_float, " el otro valor es", num1)

El valor del numero es  1.5256688556688556  el otro valor es 10

In [ ]:
print("el valor del numero es {}, el otro valor es {}".format(num_float, num1))

el valor del numero es 1.52, el otro valor es 10

In [ ]:
# cociente
valor = num2 // num1
print(f"el cociente de dividir {num2} entre {num1} es {valor}")
# modulo o resto
valor = num2 % num1
print(f"el modulo de dividir {num2} entre {num1} es {valor}")
#potencia
pot = 2
valor = num1 ** pot
print(f"{num1} elevado al {pot} es {valor}")

el cociente de dividir 10 entre 10 es 1
el modulo de dividir 10 entre 10 es 0
10 elevado al 2 es 100

## **2.2 Strings**

<img src="https://drive.google.com/uc?export=view&id=1NHYI9Dtye4wuB4657Qb1IxbWR6z9vZxN" >

In [ ]:
cadena  = "hola bienvenidos al curso de DSRP"

In [ ]:
texto = "HOLA DSRP"
print(type(texto))

<class 'str'>

In [ ]:
print("hola 'DSRP'")

hola 'DSRP'

In [ ]:
len(cadena)

33

In [ ]:
print(texto[1:4])

In [ ]:
print(texto[:4])

HOLA

In [ ]:
print(texto[5:])

DSRP

In [ ]:
cadena2 = "BIENVENIDOS"
#EVND

In [ ]:
n = len(cadena2)
print(cadena2[2:9:2])

EVND

In [ ]:
print(texto[0])
print(texto[-1])

H
P

In [ ]:
k1 = "1"
k2 = "hola"
print(k1+k2)

1hola

### **2.2.1. Extraer sub-strings**

  * **Inicio**: Índice del primer caracter de la subcadena que queremos extraer.
  * **Fin**: Índice del último caracter de la subcadena que queremos extraer, no se incluye el último (ver ejemplo).
  * **Paso**: Indica el salto entre posiciones.

In [ ]:
texto = "BIENVENIDOS AMIGOS"
print(texto[0:11])
print(texto[:11])
print(texto[12:])
print(texto[0:11:2]) #PASO

BIENVENIDOS
BIENVENIDOS
AMIGOS
BEVNDS

In [ ]:
texto = "HOLA DSRP"
print(texto[0:4:1])
print(texto[0:4])

HOLA
HOLA

In [ ]:
print(texto[:4])
print(texto[5:])

HOLA
DSRP

In [ ]:
print(texto[::-1])

PRSD ALOH

In [ ]:
"HOLA" + " " + "AMIGOS"

'HOLA AMIGOS'

In [ ]:
texto2 = "APRENDAMOS PYTHON."
print(texto +" "+ texto2)
print(texto2 * 2)

BIENVENIDOS AMIGOS APRENDAMOS PYTHON.
APRENDAMOS PYTHON.APRENDAMOS PYTHON.

In [ ]:
print(texto2.find("PYTHON"))

-1

### **2.2.2. Métodos de strings**

In [ ]:
cadena = "Aprendamos la sintaxis básica de PYTHON"

In [ ]:
print(cadena)
print(cadena.upper())
print(cadena.lower())
print(cadena.title())

Aprendamos la sintaxis básica de PYTHON
APRENDAMOS LA SINTAXIS BÁSICA DE PYTHON
aprendamos la sintaxis básica de python
Aprendamos La Sintaxis Básica De Python

In [ ]:
print(cadena.replace("PYTHON", "pyTHON"))

Aprendamos la sintaxis básica de pyTHON

In [ ]:
cadena2 = "        PRONTO APRENDEREMOS NUMPY          "

In [ ]:
print(cadena2)
print(cadena2.lstrip())
print(cadena2.rstrip())
print(cadena2.strip())

        PRONTO APRENDEREMOS NUMPY
PRONTO APRENDEREMOS NUMPY
        PRONTO APRENDEREMOS NUMPY
PRONTO APRENDEREMOS NUMPY

In [ ]:
cadena = "Aprendamos la sintaxis básica de PYTHON"
print(cadena.split())

['Aprendamos', 'la', 'sintaxis', 'básica', 'de', 'PYTHON']

In [ ]:
correo="sergio.calderon@dsrp.edu.pe"
print(correo.split("@"))
print(correo.split("."))

['sergio.calderon', 'dsrp.edu.pe']
['sergio', 'calderon@dsrp', 'edu', 'pe']

In [ ]:
texto = "PYthon"
"y" in texto.lower()

True

In [ ]:
texto*2

'PYthonPYthon'

## **2.3 Booleanos**

  **Datos del Tipo Booleano**

---
*   La primera letra debe estar siempre en Mayusculas con **T** para VERDADERO
*   La primera letra debe estar siempre en Mayusculas con **F** para FALSO
* Python implementa todos los operadores usuales de la lógica booleana, usando palabras en inglés **(and, or, not)** en lugar de símbolos (||, &&, !, etc). 

También se tienen los típicos operadores de comparación: 

<table align="left">
<thead>
<tr>
<th>Símbolo</th>
<th>Significado</th>
<th>Ejemplo</th>
<th>Resultado</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>==</code></td>
<td>Igual que</td>
<td><code>5 == 7</code></td>
<td><code>False</code></td>
</tr>
<tr>
<td><code>!=</code></td>
<td>Distinto que</td>
<td><code>rojo != verde</code></td>
<td><code>True</code></td>
</tr>
<tr>
<td><code>&lt;</code></td>
<td>Menor que</td>
<td><code>8 &lt; 12</code></td>
<td><code>True</code></td>
</tr>
<tr>
<td><code>&gt;</code></td>
<td>Mayor que</td>
<td><code>12 &gt; 7</code></td>
<td><code>True</code></td>
</tr>
<tr>
<td><code>&lt;=</code></td>
<td>Menor o igual que</td>
<td><code>12 &lt;= 12</code></td>
<td><code>True</code></td>
</tr>
<tr>
<td><code>&gt;=</code></td>
<td>Mayor o igual que</td>
<td><code>4 &gt;= 5</code></td>
<td><code>False</code></td>
</tr>
</tbody>
</table>

In [ ]:
A = True 
B = False
C = False
print(A)
print(B)
print(C)

True
False
False

In [ ]:
A != B

True

In [ ]:
A = True 
B = False
C = False
print(A or B)  # True
print(A and B) # False
print(not A)  #False
print(A or (C and B)) # True

True
False
False
True

In [ ]:
print(A)
print(B)
print(C)

True
False
False

In [ ]:
print(B or not (A or B))

In [ ]:
# CONNVERSION DE STRING A NÚMERO
var_str = "100"
print(type(var_str))

var_int = int(var_str)
print(type(var_int))

var_flt = float(var_str)
print(type(var_flt))

var_str = str(var_int)
print(type(var_str))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'str'>

# **3. Estructuras de Datos**

Python incluye varias estructuras de datos de programación estándar como parte de sus tipos incorporados.

<img src="https://drive.google.com/uc?export=view&id=1rmq6sbwXia9B_Nj0lJH56v1Y4C3cSTqm" height=250 >

![texto alternativo](https://drive.google.com/uc?export=view&id=1bLXz7152P45Ki7ZolHVj02urqVM7N3bL)

In [ ]:
lista = [12,"hola",True]

In [ ]:
lista[:2]

[12, 'hola']

In [ ]:
len(lista)

3

## **3.1 Listas**

Una lista es una agrupación ordenada múltiples **tipos de datos**. A cada elemento le corresponde un **índice numérico**. Una lista se define de la siguiente manera:

```
mi_lista = ["profesor" , 30 , True ],  
  donde el primer elemento es "profesor",
  el segundo es 30 y el tercero es True.
```

### **3.1.1 Slicing**



La numeración de una lista en Python empieza desde 0 (esta es una característica que deberá tener en cuenta de ahora en adelante), similar a los `strings`. 

<img src="https://islascruz.org/blog/wp-content/uploads/2016/11/selectsort.jpg" alt="Girl in a jacket" width="280" height="90">


---


![texto alternativo](https://drive.google.com/uc?export=view&id=1Dtv6Bp0WaT0LRHHdGUg04RRONn5n_DwQ)

Python tiene soporte para listas como un tipo predefinido del lenguaje. Para crear una lista basta con poner cosas entre **[ ]** (corchetes) y separarlas con **,** (comas).

In [ ]:
lista = [1,2,4, "hola", 5.2]
print(lista)

[1, 2, 4, 'hola', 5.2]

In [ ]:
print(lista[1:4])

[2, 4, 'hola']

In [ ]:
# Definir una lista
lista_1 = ["Albert Einstein" , "físico" , 1879, "premio nobel"]
print("Esta es la lista_1:", lista_1 )
#Acceder a un elemento de la lista (la numeración en Python empieza en 0)
print(lista_1[0])   #Primer elemento (empieza en 0)
print(lista_1[1])   #Segundo elemento
print(lista_1[:2])
print(lista_1[2:])
print(lista_1[::-1])

Esta es la lista_1: ['Albert Einstein', 'físico', 1879, 'premio nobel']
Albert Einstein
físico
['Albert Einstein', 'físico']
[1879, 'premio nobel']
['premio nobel', 1879, 'físico', 'Albert Einstein']

In [ ]:
lista3 = [2,4,18,[5,6,7],"hola"]
print(lista3[3][:2])

[5, 6]

In [ ]:
list4 = ["hola", 5,2.6, [12,48,57],"adiós"]
#como obtengo 48 con 57?
print(list4[3][1:])

[48, 57]

In [ ]:
lista

[12, 'hola', True]

In [ ]:
lista[0] = 3
lista

[3, 'hola', True]

### **3.1.2 Agregar elementos a una lista**

* Se usan las funciones **append()** o **insert()**

In [ ]:
lista = [] # son dinámicas
print(lista)
lista.append(4)
print(lista)
lista.append("hola")
print(lista)
lista.append([15,14,16])
print(lista)

[]
[4]
[4, 'hola']
[4, 'hola', [15, 14, 16]]

In [ ]:
print("Agregamos una lista a la lista")
print("Es una lista con otra lista. NO hacer esto para concatenar listas")
lista.append([2.5,6.8,7.4])
print(lista)

Agregamos una lista a la lista
Es una lista con otra lista. NO hacer esto para concatenar listas
[4, 'hola', [15, 14, 16], [2.5, 6.8, 7.4]]

In [ ]:
print("Insertamos un elemento en una posicion determinada")
lista.insert(1,"aqui inserté este texto")
print(lista)

Insertamos un elemento en una posicion determinada
[4, 'aqui inserté este texto', 'hola', [15, 14, 16], [2.5, 6.8, 7.4]]

In [ ]:
temperatura = 16
lista=[]
lista.append(temperatura)
print(lista)

[16]

In [ ]:
lista = [2,3,4]
#[1,5,2,3,4,7]
#2,3,4,7
#1,2,3,4,7
#1,5,2,3,4,7

In [ ]:
lista.append(7)
lista.insert(0, 5)
lista.insert(0, 1)
lista

[1, 5, 2, 3, 4, 7]

In [ ]:
lista[0] = [5,6,8]
print(lista)

[[5, 6, 8], 2, 5, 6, 7]

### **3.1.3 Eliminar elementos de una lista**

* Se usan las funciones 
 * **pop()**            para eliminar el **último** elemento de la lista
 * **pop(**x**)**    para eliminar el elemento de la posición **x**
 * **remove(**valor**)** para eliminar el primer elemento que sea igual a 
 * **clear()** para eliminar todos los elementos

In [ ]:
print("Creamos una Lista inicial")
lista = [1, "hola", 3, "tú", 4,"tú", 5, 6, 7, 8]
print(lista)

Creamos una Lista inicial
[1, 'hola', 3, 'tú', 4, 'tú', 5, 6, 7, 8]

In [ ]:
print("Eliminar el último elemento de la lista")
lista.pop()
lista.pop()
print(lista)

Eliminar el último elemento de la lista
[1, 'hola', 3, 'tú', 4, 'tú', 5, 6]

In [ ]:
print("Eliminar elemento de una posicion determinada (índice)")
lista.pop(1) #índice o posición
print(lista)

Eliminar elemento de una posicion determinada (índice)
[1, 3, 'tú', 4, 'tú', 5, 6]

In [ ]:
lista

[1, 3, 'tú', 4, 'tú', 5, 6]

In [ ]:
print("Eliminar elemento por su valor (el primero que encuentra). ")
lista.remove("tú")
print(lista)

Eliminar elemento por su valor (el primero que encuentra).
[1, 3, 4, 'tú', 5, 6]

In [ ]:
print("Limpiar la lista completamente")
lista.clear()
print(lista)

Limpiar la lista completamente
[]

In [ ]:
lista = ["hola", 15,"adios", "15", 15, 15]
print(lista)

['hola', 15, 'adios', '15', 15, 15]

In [ ]:
#lista = ["hola", "adios"]
lista.pop()
lista.pop()
lista.pop()
lista.pop(1)
lista

['hola', 'adios']

### **3.1.4 Otras operaciones**

In [ ]:
print("Usamos 'in' para saber si un elemento existe en la lista.")
lista = ["hola", 1, 2, "hola", 1,2]
respuesta = 3 in lista
print(respuesta)

Usamos 'in' para saber si un elemento existe en la lista.
False

In [ ]:
indice = lista.index("bienvenido")
indice

 Control de excepciones

In [ ]:
try:
  indice = lista.index("bienvenido")
except:
  print("No se encuentra")

No se encuentra

In [ ]:
respuesta = "bienvenido" in lista
if respuesta:
  indice = lista.index("bienvenido")
else:
  print("No se encuentra")

No se encuentra

In [ ]:
print("Usamos 'index()' para buscar la posición de un elemento en la lista")
try:
  index = lista.index(2)
  print(index)
except:
  print("Elemento no existe")

Usamos 'index()' para buscar la posición de un elemento en la lista
2

In [ ]:
print(lista)

['hola', 1, 2, 'hola', 1, 2]

In [ ]:
print("Usamos 'count()' para contar cuantos veces se repite un elemento en la lista")
print(lista.count("hola"))

Usamos 'count()' para contar cuantos veces se repite un elemento en la lista
2

In [ ]:
print("Usar 'len()' para saber el tamaño de una lista")
lista = [1, 2, 3, 4, [1, 2]]
print(f"Tamaño de la lista: {len(lista)}")

Usar 'len()' para saber el tamaño de una lista
Tamaño de la lista: 5

In [ ]:
print("Usamos 'extend()' para concatenar dos listas o el simbolo '+'")
lista_1 = [1, 2, 3]
lista_2 = ["lunes", "martes", "miercoles"]

lista_2.extend(lista_1)
print(lista_2)

Usamos 'extend()' para concatenar dos listas o el simbolo '+'
['lunes', 'martes', 'miercoles', 1, 2, 3]

In [ ]:
print(lista_1 + lista_2)

[1, 2, 3, 'lunes', 'martes', 'miercoles', 1, 2, 3]

In [ ]:
lista_1 = [1, 2, 3]
lista_2 = ["lunes", "martes", "miercoles"]
print(lista_1 + lista_2)

[1, 2, 3, 'lunes', 'martes', 'miercoles']

In [ ]:
lista1 = [2,4,5]
lista2 = ["1","2","3"]
#-> [2,4,5,["1","2","3"]] 
#-> [2,4,5,"1","2","3"]
lista1.append(lista2)
lista1 + lista2

In [ ]:
lista1.append(lista2)
print(lista1)

[2, 4, 5, ['1', '2', '3']]

In [ ]:
print(lista1 + lista2)

[2, 4, 5, '1', '2', '3']

In [ ]:
print("Invertir una lista")
print(" - Lista Original")
lista = ["lunes", "martes", "miercoles"]
print(lista)

print("- Lista Invertida")
lista.reverse()
print(lista)

Invertir una lista
 - Lista Original
['lunes', 'martes', 'miercoles']
- Lista Invertida
['miercoles', 'martes', 'lunes']

In [ ]:
print("Ordenar una lista")
print("Lista original")
lista = [1, 5, -10, -4, 2, 3, 8, -8]
print(lista)

print("Lista ordenada de menor a mayor")
lista.sort()
print(lista)

Ordenar una lista
Lista original
[1, 5, -10, -4, 2, 3, 8, -8]
Lista ordenada de menor a mayor
[-10, -8, -4, 1, 2, 3, 5, 8]

In [ ]:
lista1 = [4,5,1,105,12]
#-> [105, 12,5,4,1]

In [ ]:
lista1.sort()
lista1.reverse()
lista1

[105, 12, 5, 4, 1]

In [ ]:
lista1.sort(reverse=True)
print(lista1)

[105, 12, 5, 4, 1]

In [ ]:
lista1.sort()
lista1.reverse()
print(lista1)

[105, 12, 5, 4, 1]

## **3.2 Tuplas**

Una tupla es similar a una lista, solo que es inmutable, es decir que sus valores no se pueden modificar.

```
mi_tupla = ( 'estudiante' , 15 , False )
```

Para crear una tupla, basta con poner elementos entre **( )** (paréntesis) y separarlas con **,** (comas).

* Acceder a cada elemento se hace del mismo modo que con las listas. 
* Dado que las tuplas son inmutables no poseen métodos como append() , pop() , remove() o cualquiera que intente modificar la tupla. Veamos que sucede si intentamos hacerlo:

In [ ]:
print("Creando una Tupla. Notese el uso de paréntesis ()")
tupla_1 = ("Alan Turing" , "programación" , 20)
print(tupla_1[0])
print(tupla_1[1])
print(tupla_1[2])
print(tupla_1[:2])

Creando una Tupla. Notese el uso de paréntesis ()
Alan Turing
programación
20
('Alan Turing', 'programación')

In [ ]:
tupla_inmutable = ('Hola',13,'Elemento')

## **3.3 Diccionarios**

Almacenan cualquier tipo de dato. A cada valor se le asigna una clave (o key), es decir que no hay numeración.

```
mi_diccionario = {'nombre' : 'Carlos', 'promedio' : 18, 'clases': ['Python','R','estadística'] }
```

In [ ]:
usuario = ['Carlos',12345678, ['Python','Álgebra','Economía']]

In [ ]:
#Definir diccionario
usuario_dic = {
                 'usuario' : 'Carlos', 
                 'DNI'     : 12345678, 
                 'cursos'  : ['Python','Álgebra','Economía'] 
                }

### **3.3.1 Acceder y modificar**

In [ ]:
#Se accede a cada elemento del siguiente modo.
print(usuario_dic['usuario'])
print(usuario_dic['DNI'])
print(usuario_dic['cursos'])
#Observe que la clave 'cursos' nos muestra una lista. Por lo que podemos 
#acceder a cada elemento de la lista del siguiente modo:
print(usuario_dic['cursos'][0])
print(usuario_dic['cursos'][1])
print(usuario_dic['cursos'][2])

Carlos
12345678
['Python', 'Álgebra', 'Economía']
Python
Álgebra
Economía

In [ ]:
usuario_dic["usuario"] = "Pedro"
print(usuario_dic)

{'usuario': 'Pedro', 'DNI': 12345678, 'cursos': ['Python', 'Álgebra', 'Economía']}

In [ ]:
d = dict()
d["Alumno"]  = "Juan"
d["Nota"]  = 15
d

{'Alumno': 'Juan', 'Nota': 15}

### **3.3.2 Iterar diccionario**

In [ ]:
for clave in usuario_dic:
    print(clave)

usuario
DNI
cursos

In [ ]:
for clave in usuario_dic:
    print(usuario_dic[clave])

Pedro
12345678
['Python', 'Álgebra', 'Economía']

In [ ]:
for clave, valor in usuario_dic.items():
    print(clave, valor)

usuario Pedro
DNI 12345678
cursos ['Python', 'Álgebra', 'Economía']

### **3.3.3 Diccionarios anidados**

In [ ]:
alumno1 = {"nombre": "Juan" , "Nota": 18}
alumno2 = {"nombre": "Pedro", "Nota": 12}
clase = {
  "alumno1" : alumno1,
  "alumno2" : alumno2
}
clase

{'alumno1': {'nombre': 'Juan', 'Nota': 18},
 'alumno2': {'nombre': 'Pedro', 'Nota': 12}}

## **3.4  Conjuntos (SET)**

Un conjunto es una colección de **datos no ordenada** y no presenta  elementos repetidos. 

Se comportan del mismo modo que los conjuntos utilizados en matemáticas y lógica.

Para crear un conjunto, basta con poner elementos entre **{ }** (**llaves**) y separarlas con **,** (**comas**).

```
mi_conjunto = {0 , 2 , 4 , 6 , 8 , 10 }
```


**OJO:** Ya que no existe un índice que caracterice a cada elemento de un conjunto, no es posible acceder a los elementos del modo tradicional. Sin embargo, es posible hacerlo utilizando un bucle, esto lo veremos más adelante. 

Exploraremos los métodos correspondientes a los conjuntos:

In [ ]:
mi_conjunto = {2,3,5,7,11} #set()
print(mi_conjunto)
mi_conjunto.add(13)   #Añadir el elemento 13
print(mi_conjunto)    #Mostrar el nuevo conjunto
mi_conjunto.remove(5) #Remover el elemento 5
print(mi_conjunto)    #Mostrar el nuevo conjunto
mi_conjunto.discard(5) #Remover el elemento 5
print(mi_conjunto)  
mi_conjunto.clear()   #Vaciar los elementos del conjunto
print(mi_conjunto)    #Mostar nuevo conjunto

In [ ]:
mi_conjunto = {2,3,5,7,11} #set()
print(mi_conjunto)

{2, 3, 5, 7, 11}

In [ ]:
mi_conjunto.add(13) 
print(mi_conjunto)

{2, 3, 5, 7, 11, 13}

In [ ]:
mi_conjunto.add(13) 
print(mi_conjunto)

{2, 3, 5, 7, 11, 13}

In [ ]:
lista1 = [12, 14, 15, 16]
lista2 = [16, 14, 56, 16]

In [ ]:
set1 = set(lista1)
set2 = set(lista2)
set3 = set1.intersection(set2)
inter = list(set3)
inter2 = sorted(inter)

In [ ]:
mi_conjunto = {2,3,5,7,11}
print(mi_conjunto)
mi_conjunto.add(13)   
print(mi_conjunto)
mi_conjunto.add(13)   
print(mi_conjunto)
mi_conjunto.add(13)   
print(mi_conjunto)

{2, 3, 5, 7, 11}
{2, 3, 5, 7, 11, 13}
{2, 3, 5, 7, 11, 13}
{2, 3, 5, 7, 11, 13}

Convertir listas a tuplas o conjuntos y viceversa

In [ ]:
lista = [2,4,5]
print(type(lista))

<class 'list'>

In [ ]:
tupla = tuple(lista)
print(type(tupla))
print(tupla)

<class 'tuple'>
(2, 4, 5)

In [ ]:
conjun = set(lista)
print(conjun)

{2, 4, 5}

In [ ]:
lista = list(conjun)
print(lista)

[2, 4, 5]

In [ ]:
# como eliminar los elementos repetidos de una lista 
# [2,4,4,4,4,5,6,7,8]
lista = [2,4,4,4,4,5,6,7,7,7,7,8,8,8,8,9,8]
#conju = set(lista)
#lista = list(conju)
lista = list(set(lista))
print(lista)

[2, 4, 5, 6, 7, 8, 9]

In [ ]:
mi_conjunto = {2,3,5,7,11}
for elem in mi_conjunto:
    print(elem)

2
3
5
7
11

Dado que los conjuntos poseen las mismas características de los estudiados en matemáticas y lógica, se pueden realizar las mismas operaciones como la **intersección**, **unión**, **diferencia** o **diferencia simétrica**. Definiremos 2 conjuntos y aplicaremos estas operaciones. Los conjuntos a definir serán las clases que llevan los estudiantes de ingenierías y los de derecho.

In [ ]:
ingenieria = {'álgebra','programación','historia','química','inglés'}
derecho = {'inglés','derecho civil','filosofía','álgebra','economía'}

print('Clases de ingeniería: ', ingenieria)
print('Clases de derecho: ',derecho)
print('Intersección: ',ingenieria.intersection(derecho)) #Elementos en común
print('Union: ', ingenieria.union(derecho)) #Unión de todos los elementos
print('Diferencia: ',ingenieria.difference(derecho)) #Elementos en ingeniería pero no en derecho
print('Diferencia: ',derecho.difference(ingenieria)) #Elementos en derecho pero no en ingeniería
print('Diferencia simétrica: ',ingenieria.symmetric_difference(derecho)) #Todos los elementos excepto la intersección

Clases de ingeniería:  {'álgebra', 'programación', 'inglés', 'química', 'historia'}
Clases de derecho:  {'álgebra', 'filosofía', 'economía', 'derecho civil', 'inglés'}
Intersección:  {'álgebra', 'inglés'}
Union:  {'álgebra', 'filosofía', 'programación', 'economía', 'derecho civil', 'inglés', 'química', 'historia'}
Diferencia:  {'historia', 'programación', 'química'}
Diferencia:  {'derecho civil', 'filosofía', 'economía'}
Diferencia simétrica:  {'derecho civil', 'química', 'historia', 'filosofía', 'programación', 'economía'}